# Configuration de l'environnement de developpement
API_URL=http://localhost:5185
ANGULAR_PORT=4200
JSON_SERVER_PORT=3000

# Configuration de production (exemple)
# API_URL=https://your-api-url.com
# ANGULAR_PORT=80
